#texto{
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
}
#video{
    margin-top: 1%;
    margin-left: 15%;
    margin-right: 10%;
    margin-bottom: 2%;
}
#a{
    margin-left: 15px;
    padding-left: 15px;
}